
{% extends "base.html" %}

{% block bodyclass %}about{% endblock %}

{% block extrahead %}
{% endblock %}

{% block navbar %}
<div class="mini-nav">
  {% include "nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="wrapper style3">
  <section id="intro">
    <p class="style1">Proin neque massa, cursus ut, gravida ut, lobortis eget, lacus.</p>
  </section>

  <div id="highlights" class="container">
    <div class="row">
      <div class="4u 12(mobile)">
        <section class="highlight">
          <a href="#" class="image featured"><img src="img/pic02.jpg" alt=""></a>
          <h3><a href="#">The Boxer Rebellion and Invasion of Manchuria</a></h3>
          <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
          <ul class="actions">
            <li><a href="#" class="button style1">Learn More</a></li>
          </ul>
        </section>
      </div>
      <div class="4u 12(mobile)">
        <section class="highlight">
          <a href="#" class="image featured"><img src="img/pic02.jpg" alt=""></a>
          <h3><a href="#">Russian Jewish Life in the Army</a></h3>
          <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
          <ul class="actions">
            <li><a href="#" class="button style1">Learn More</a></li>
          </ul>
        </section>
      </div>
      <div class="4u 12(mobile)">
        <section class="highlight">
          <a href="#" class="image featured"><img src="img/pic02.jpg" alt=""></a>
          <h3><a href="#">Russian Jewish Life at the turn of the 1900s</a></h3>
          <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
          <ul class="actions">
            <li><a href="#" class="button style1">Learn More</a></li>
          </ul>
        </section>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
</div>
{% endblock %}

{% block extrabody %}
{% endblock %}
