{% extends "base.html" %}

{% block bodyclass %}home{% endblock %}

{% block logo %}
    <!-- Logo -->
    <div id="logo">
      <h1><a href="index.html">The Mordecai Project</a></h1>
      <p>A story of a guy... Named Mordecai.</p>
    </div>
 {% endblock %}

{% block content %}
  <!-- Intro -->
  <div id="intro-wrapper" class="wrapper style1">
    <div class="title">The Introduction</div>
    <section id="intro" class="container">
      <p class="style1">So in case you were wondering what this is all about ...</p>
      <p class="style2">
        Mordecai was Nunc eleifend leo vitae magna.
      </p>
      <p class="style3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  Donec hendrerit tempor tellus.  Donec pretium posuere tellus.  Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Nulla posuere.  Donec vitae dolor.  Nullam tristique diam non turpis.  Cras placerat accumsan nulla.  Nullam rutrum.  Nam vestibulum accumsan nisl.</p>
      <ul class="actions">
        <li><a href="#" class="button style3 big">Proceed</a></li>
      </ul>
    </section>
  </div>
{% endblock %}
