{% extends "base.html" %}

{% block bodyclass %}home{% endblock %}

{% block logo %}
    <!-- Logo -->
    <div id="logo">
      <h1>Mordechai Marches to Manchuria</h1>
      <p>A Jewish Soldier’s tale of life in the Russian Army during and after the Boxer Rebellion.</p>
    </div>
 {% endblock %}

{% block content %}
  <!-- Intro -->
  <div id="intro-wrapper" class="wrapper style1">
    <div class="title">The Introduction</div>
    <section id="intro" class="body-text container">
      <p class="">In 1898, Mordecai Jacobovitch, A twenty-one year old Jewish Polish bookbinder, was conscripted into the 9th Rifleman’s Brigade of the Czar’s army. On June 26th 1900, Mordecai and his comrades were informed that they were to begin a march to Manchuria, part of Russia’s invasion that co-incided with the Boxer Rebellion. During their 10 month campaign they would travel over 8,700 miles first over land across Russia and Manchuria and then back to Russia first by sea through Singapore and then by land back Russia</p>
      <a class="image featured" href="#">
        <img src="img/home/family.png" alt="Mordechai and his family"/>
        <p class="caption">Mordecai Jacobovitch in America, circa 1911, with wife Fryda and sons Shaya (standing) and Samuel</p>
      </a>
      <p>Mordecai and his fellow Jewish soldiers from Poland and Russia were both celebrated and cheated by their  fellow Jews in various villages along the way.  They were forced to fight on Yom Kippur, recognized fellow Jews in Singapore by the matzah crumbs in their beards during Pesach, survived several bouts of scurvy and other illnesses and had many other adventures throughout the campaign.</p>
      <p>This website is based on a translation of Mordecai’s diary or memoir of these events:</p>
      <ul class="actions">
        <li><a href="/map" class="button style3 big">The Map</a></li>
      </ul>
    </section>
  </div>
{% endblock %}
