{% extends "base.html" %}

{% block bodyclass %}home{% endblock %}

{% block content %}
    <div class="hero-unit">
      <h1>
        Mordecai<span class="brand-ext">Project</span>
        <small>{{ gettext('Elegant timelines and maps created in seconds') }}</small>
      </h1>
      <br />
    </div>

    <div class="examples row">
      <div class="span12">
        <h2 style="text-align: center;">{{ gettext("Examples") }}</h2>
      </div>
      <div class="span4">
        <h4><a href="/rufuspollock/major-battles-napoleonic-wars">Battles in the Napoleonic Wars</a></h4>
        <a href="/rufuspollock/major-battles-napoleonic-wars">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Charles_Th%C3%A9venin_-_Reddition_de_la_ville_d%27Ulm.jpg/320px-Charles_Th%C3%A9venin_-_Reddition_de_la_ville_d%27Ulm.jpg" alt="" />
        </a>
      </div>
      <div class="span4">
        <h4><a href="/okfn/medieval-philosophers">Medieval Philosophers</a></h4>
        <a href="/okfn/medieval-philosophers">
          <img src="http://farm6.staticflickr.com/5323/8768093210_3343870b2a_n.jpg" alt="Medieval Philosophers" />
        </a>
      </div>
      <div class="span4">
        <h4><a href="http://timemapper.okfnlabs.org/adamrabinowitz/archaeowinetimeliner">Archaeology of Wine</a></h4>
        <a href="http://timemapper.okfnlabs.org/adamrabinowitz/archaeowinetimeliner">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Hippone_Mosa%C3%AFque_romaine_les_Amours_vendangeurs.jpg/320px-Hippone_Mosa%C3%AFque_romaine_les_Amours_vendangeurs.jpg?uselang=en-gb" alt="" />
        </a>
      </div>
    </div>
{% endblock %}
